/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flash-message.notice {
    color: green;
    margin: 33px;
}

main {
    font-family: verdana, arial, helvetica,sans-serif;
    font-size: 13px;
    line-height: 18px;
    margin: 33px;
    color: #333
}

.header {
    margin: 17px auto;
}

.text p,
.text a {
    margin: 33px;
}

table>thead>tr>th {
    padding: 1px 1px 5px;
}

table>tbody>tr>td {
    padding: 1px 5px 7px;
}

.new-header {
    margin: 16px auto;
}

.field {
    margin-bottom: 10px;
}

.title-field {
    padding: 1px 2px;
}

.body-area {
    padding: 2px;
}

.button {
    padding: 1px 6px;
}

.error-explanation {
    width: 450px;
    border: 2px solid red;
    padding: 7px;
    padding-bottom: 0;
    margin-bottom: 20px;
    background-color: #f0f0f0;
}

.error-explanation h2 {
    text-align: left;
    font-size: 12px;
    padding: 5px 5px 5px 15px;
    margin: -7px;
    margin-bottom: 0;
    background-color: #c00;
    color: #fff;
}

.error-explanation ul {
    margin: 33px;
    padding-inline-start: 40px;
}

.error {
    border: 2px solid red;
    padding: 10px;
  }
  